apiVersion: langbot/v1
kind: EventProcessor
metadata:
  name: {{ runner_name }}
  label:
    en_US: {{ runner_label }}
    zh_Hans: {{ runner_label }}
  description:
    en_US: {{ runner_description }}
    zh_Hans: {{ runner_description }}
spec:
  events: [group.member_joined]
  capabilities:
    tool_calling: true
  permissions:
    tools: [detail, call]
  config: []
execution:
  python:
    path: ./{{ runner_name }}.py
    attr: {{ runner_attr }}
