apiVersion: v1
kind: Parser
metadata:
  name: {{ parser_name }}
  label:
    en_US: {{ parser_label }}
    zh_Hans: {{ parser_label }}
  description:
    en_US: '{{ parser_description }}'
    zh_Hans: '{{ parser_description }}'
spec:
  supported_mime_types:
    - application/pdf
execution:
  python:
    path: {{ parser_name }}.py
    attr: {{ parser_attr }}
